<form method="POST" action="/login">

  <input type="submit" value="Go">
  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username" required>
 
  <label for="psw"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="psw" required>

  <button type="submit">Login</button>
  <label>
    <input type="checkbox" checked="checked" name="remember">Remember Me</label>
  

</form>
