<form method="POST" action="/api/register">
  
  <h1>Register</h1>
  <p>Please enter information to make an account</p>
  <hr>

  {{ form.csrf_token }}
  {{ form.name.label }} {{ form.name(size=20) }}
  <input type="submit" value="Go">


  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username" required>

  <label for="psw"><b>Password</b><label>
  <input type="password" placeholder="Enter Password" name="psw" required>

  <p>You agree to my terms if you register</p>
  <button id='button' type="submit" class="registerbtn">Register</button>

<script type="text/javascript">
  $("#button").click(
    function(){
      window.location.href="./login";
    });
</script>
</form>
