<head>
  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script 
    src="{{ url_for('static', filename="js/moment.min.js") }}"></script>
</head>
  {% for dist in distance %}
  {% endfor %}

<tr>
  <td>Brevet Gate</td>
  <td>Start Time</td>
  <td>Close Time</td>
</tr>
  {% for item in items %}
<tr>
  <td>{{ item.km }}km / {{ item.mile }}mile</td>
  <td>{{ item.opentime }}</td>
  <td>{{ item.closetime }}</td>
</tr>
  {% endfor %}

<div style="margin:0 auto;width:300px;">
<button id='button' style="align-self: center;font-size: 12px">Back to Home Page</button>
</div>
<script type="text/javascript">
  $("#button").click(
    function(){
      window.location.href="./";
    });
</script>
